div#carousel { 
    perspective: 1200px; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
    padding-bottom: 5%;
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 40%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(-61.16deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-122.32deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-183.48deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-244.64deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-305.8deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-367deg); }
  div#carousel ~ span { 
    color: rgb(78, 173, 51); 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: rgb(6, 103, 47); cursor: pointer; }