@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #faf6f6eb;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  background: #ebe2e2;
}

h1{
  font-size: 50px;
  color: #097709;
  font-family: 'Nunito', sans-serif;
}
/*color fondo*/
.about-us {
  background: #ebe2e2;
}

.h3{
  font-family: 'Nunito', sans-serif;
}

header {
  width: 100%;
}
/*--------------------Menu--------------------------*/

.header .main {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 30px;
}

.navbar .brand {
  display: flex;
  margin: 4px 70px;
  color: #78a841;
}

.navbar .brand .fa-wine-bottle {
  font-size: 1.6em;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  margin: -60px 0px;
}
.navbar ul li a i {
  padding-right: 10px;
  color: #25c50f;
  transition: all 0.5s ease 0s;
}
.menu ul li {
  list-style: none;
  margin-right: 30px;
  float: left;
}

.menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2em;
}
.navbar ul li:hover ul{
	display: block;
}
.navbar li ul{
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
}
.menu ul li a:hover {
  color: #78a841;
}

@keyframes left-move {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-move {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes up-move {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


/*ESTILOS WHATSAPP*/
.fab {
  display: none;
  padding:20px;
  background:#024959;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  left:20px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 100;
}
.fa-whatsapp {
background:  #00bb2d;
color: white;
align-items: center;
}

/*Tooltip*/
.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #00bb2d;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
font-size: 15px;
/* Position the tooltip */
position: absolute;
z-index: 1;
top: 5px;
left: 105%;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}


@keyframes left-move {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-move {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes up-move {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*CONTENEDORES INDEX*/
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1 {
    text-align: center;
    width: 90%;
    max-width: 1700px;
    margin: auto;
    overflow: hidden;
    padding: 20px;

}

/*Seccion Sobre Nosotros*/
.contenido-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  border-radius: 12px;
}

.contenido-header>img {
  width: 550px;
  animation: ease-in animat 1s;
}
.textos-header {
 padding: 50px;
  color: #19820f;
  text-align: justify;
}

.textos-header p{
  font-size: 20px;
}

.contenido-header p {
  font-weight: 100;
  margin-top: 14px;
  color: #000000;
}


.contenido-header a {
  margin: 28px 0 0 0;
  width: 130px;
  display: inline-block;
  background: #19820f;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

/*Contenedor valores index2*/
.contenedor2 {
  text-align: center;
  width: 90%;
  max-width: 1700px;
  margin: auto;
  overflow: hidden;
  padding: 90px 0;
  background-color: #49bd238a;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* Seccion Nuestros servicios */
.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo {
  width: 29%;
  background: rgba(255, 255, 255, 0.726);
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 45px 30px 60px 30px;
  transition: 0.5s;
}
/*Icono de nuestros servicios*/
.articulo>i {
    font-size: 40px;
    color: rgb(255, 238, 0);
    background: #19820f;
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    padding-top: 25px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 28px;
    margin-top: 30px;
    color: #097709;
}

.articulo>p {
    font-weight: 100;
    color:  black;
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 20px;
}

.articulo>a {
    color: rgb(131, 122, 122);;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}
/*index2*/
/*Estilos de las cajas de mision y vision*/
.articulo2 {
  width: 40%;
  background: #ffffff51;
  margin-bottom: 90px;
  border-radius: 10px;
  padding: 45px 30px 60px 30px;
  transition: 10s;
}
.articulo2>i {
  font-size: 40px;
  color: rgb(255, 238, 0);
  background: #19820f;
  display: inline-block;
  width: 90px;
  height: 90px;
  text-align: center;
  padding-top: 25px;
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}
.articulo2>h3 {
  font-size: 28px;
  margin-top: 30px;
  color: black;
  text-align: center;
}

.articulo2>p {
  font-weight: 100;
  color:  black;
  margin-top: 15px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: justify;
}
/*.........Equipo de trabajo..............*/

.articulos {
  width: 99%;
  background: #ffffff51;;
  margin-bottom: 90px;
  border-radius: 10px;
  padding: 45px 30px 60px 30px;
  transition: 10s;
}

.articulos>i {
  font-size: 40px;
  color: rgb(255, 238, 0);
  background: #19820f;
  display: inline-block;
  width: 90px;
  height: 90px;
  text-align: center;
  padding-top: 25px;
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}
.articulos>h3 {
  font-size: 28px;
  margin-top: 30px;
}

.articulos>p {
  font-weight: 100;
  color: black;
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: justify;
  font-size: 20px;
}

.articulos>a {
  color: #3f4146;
  font-weight: 400;
  text-decoration: none;
}

.articulos>a:hover {
  color: #1FDE82;
  transition: color .5s;
}
/* Questions NUESTRO EQUIPO */

.questions {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
  width: 550px;
}

.textos-questions {
    margin: 0 0 0 30px;
    color: #19820f;
    font-size:70px ;
}
.textos-questions p{
  font-size: 20px;
}


/*Redes sociales fijas a la derecha*/
.social-bar{
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  border-color: #000;
}
.icon{
  background: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
}

.icon-facebook{
  color: #2E406E;
}
.icon-twitter{
  color: #339DC5;
}
.icon-instagram{
  color: #3f729b;
}
.icon-linkedin{
  color: #0e76a8;
}
.icon-youtube{
  color: #E83028;
}
.icon:first-child{
  border-radius: 1rem 0 0 0;
}
.icon:last-child{
  border-radius: 0 0 0 1rem;
}
.icon-facebook:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #2E406E;
}
.icon-twitter:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #339DC5;
}
.icon-instagram:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #3f729b;
}
.icon-linkedin:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #0e76a8;
}
.icon-youtube:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #E83028;
}

/*BOTON IR ARRIBA*/
.ir-arriba {
	display: none;
	padding:10px;
	background:#024959;
  opacity: 0.4;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  border-radius: 50px;
  z-index: 100;
}
.ir-arriba:hover{
  opacity: 1;
}
/*boton parte footer*/
.button1 {
  background-color: #fff;
  border: 3px solid #097709;
  border-radius: 10px;
  width: 50%;
  height: 25%;
  justify-content: center;
  align-items: center;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* footer */

footer {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  background:  #f2f2f2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2f2f2,
    #f2f2f2
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2f2f2,
    #f2f2f2
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.partFooter {
  width: 20%;
  text-align: center;
}

.partFooter h4 {
  color: #041c4d;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  transition: color .3s ease-in-out;
  font-size: 15px;
}

.partFooter img {
  width: 70%;
}

footer p {
margin-bottom: 10px;
color: #000;
text-align: center;
font-size: 16px;
}

/*Estilos Nuestros Proyectos*/
.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 280px;
  height: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(23, 198, 55, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}

/*Media queries*/
@media screen and (max-width:600px){
  /*Menu*/
  .brand a img {
    margin-left: -50px;  
    margin-top: -16px;
  }

  .navbar .toggle-menu i {
    display: block;
    margin: -130px 30px;
    color: #000;
  }

  .navbar {
    height: 30px;
  }

  .navbar .menu ul {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #097709;
    transform: translateX(-120%);
    transition: 1s ease-in;
    border: 1px solid #fff;
    margin-top: 0;
    
  }
    
  .navbar .menu .menu-on {
    transform: translateX(-1%);
   
  }

  .navbar .menu ul li {
    margin: 30px;
    text-transform: uppercase;
  }
  
  .nav__close{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
  }

  /*Colores menu*/
  .menu ul li a{
    color: #fff;
  }
  .navbar ul li a i {
    padding-right: 10px;
    color: #22fa06;
    transition: all 0.5s ease 0s;
  }

  .articulo p {
    font-size: 18px;
  }

  /*Estilos index2*/
  .articulo2 {
    width: 90%;
  }
  .contenedor1{
    padding: 10px;
    margin: 10px;
    
  }
  .box-skills {
    margin:0;
  }

   /*Informe de Gestión*/
   .conten-results {
    padding: 21px;
  }

  .numbers .number1 {
    width: 85%;
  }

  .results-text h4 {
    font-size: 35px;
  }

  .results-text p {
    margin: 12px 1em 15px auto;
  }

  .results-text>a {
    margin-bottom: 20px;
  }

  .results-text img {
    margin-bottom: 20px;
  }
  /* Footer */
  footer{
    flex-wrap: wrap;
  }
  .partFooter {
    width: 95%;
    margin-bottom: 10px;
  }
  .button1{
    width: 30%;
  }

  /*Redes sociales*/
  .social-bar{
    font-size: 1.5rem;
    top: 37%;
  }

  /*Boton de Whatsapp*/
  .fab{
    left:5px;
    
  }

  /*Boton ir arriba*/
  .ir-arriba {
    right: 5px;
  }

  .articulos{
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 45px 30px 60px 30px;
  }

  .questions{
    height: auto;
  }
  .boton_equipo{
    width: auto;
  }
}

@media screen and (max-width:800px){
  .titulo {
    font-size: 45px;

  }

  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .contenido-header>img {
    width: 400px;
  }

  .textos-header {
    margin: 0;
  }

  /* About us */

  .articulo {
    width: 90%;
  }


  /* Questions */

  .questions {
    height: 720px;
    justify-content: space-around;
    flex-direction: column;
  }

  .questions>img {
    width: 400px;
  }

  /* results */

  .conten-results {
    flex-direction: column-reverse;
  }

  .results-text>a {
    margin-bottom: 60px;
  }

  .numbers {
    width: 100%;
    /* justify-content: space-between; */
  }

  .results-text {
    width: 100%;
  }

  /* Services */

  .services {
    flex-direction: column-reverse;
    align-items: center;
  }

  .box-skills {
    margin: 0 0 40px 0;

  }

  .box-skills h4 {
    width: 500px;
  }

  .services>img {
    width: 400px;
  }
  .brand a img {
    margin-left: -50px;
    margin-top: -16px;
  }

  .navbar .toggle-menu i {
    display: block;
    margin: -130px 30px;
    color: #000;
  }

  .navbar {
    height: 30px;
  }

  .navbar .menu ul {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #097709;
    transform: translateX(-120%);
    transition: 1s ease-in;
    border: 1px solid #fff;
    margin-top: 0;

  }

  .navbar .menu .menu-on {
    transform: translateX(-1%);

  }

  .navbar .menu ul li {
    margin: 30px;
    text-transform: uppercase;
  }

  .nav__close {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
  }

  /*Colores menu*/
  .menu ul li a {
    color: #fff;
  }

  .navbar ul li a i {
    padding-right: 10px;
    color: #22fa06;
    transition: all 0.5s ease 0s;
  }

  /*Redes sociales*/
  .social-bar {
    font-size: 1.6rem;
    top: 37%;
  }

  /*Boton de Whatsapp*/
  .fab {
    left: 10px;

  }

  /*Boton ir arriba*/
  .ir-arriba {
    right: 5px;
  }

  /*Estilos index2*/
  .articulo2 {
    width: 90%;
    margin-bottom: 55px;
  }

  .articulos {
    margin-bottom: 20px;
  }

  .contenedor1 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .questions {
    height: auto;
  }

  /* Footer */
  footer {
    flex-wrap: wrap;
  }

  .partFooter {
    width: 95%;
    margin-bottom: 10px;
  }

  .button1 {
    width: 30%;
  }

}

@media screen and (max-width:1024px){
  .brand a img {
    margin-left: -50px;
    margin-top: -16px;
  }

  .menu ul li {
    list-style: none;
    margin-right: 0px;
  }

  .menu ul li a {
    text-decoration: none;
    font-size: 15px;
    padding-right: 10px;
  }

  .navbar ul li a i {
    padding-right: 0.5px;
  }

  /* Nuestros Servicios */
  .contenedor1 {
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .articulo {
    width: 47%;
  }

  .articulo p {
    font-size: 22px;
  }

  .articulo h3 {
    font-size: 25px;
  }
  /*Informe*/
  /*.numbers .number1 {
    width: 80%;
    padding: 10px;
  }
  .conten-results {
    margin-left: 10px;
  }*/
  /*Redes sociales*/
  .social-bar{
    font-size: 2.0rem;
    top: 37%;
  }
  .partFooter img {
    width: 100%;
  }
  .button1{
    width: 60%;
  }
  .questions{
    height: auto;
  }
  .articulos{
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 45px 30px 40px 30px;
  }
  .articulo2 {
    width: 80%;
    margin-bottom: 30px;
  }
  .box-skills h4{
    width: auto;
    font-size: 18px;
  }

}
