@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-galeria img {
  height: 279px;
  width: 295px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}

.h3{
  font-family: 'Nunito', sans-serif;
}


.titulo {
  font-size: 50px;
  text-align: center;
  color: #097709;
  font-family: 'Nunito', sans-serif;
}

header {
  width: 100%;
}

.header .main {
  width: 90%;
  margin: 0 auto;
}


.navbar .brand {
  display: flex;
  margin: 4px 70px;
  color: #78a841;
}

.navbar .brand .fa-wine-bottle {
  font-size: 1.6em;
}

.navbar .brand h3 {
  font-size: 1.3em;
  margin: 5px 5px;
}

.nav__close {
  display: none;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  margin: -60px 0px;
}

.navbar ul li a i {
  padding-right: 10px;
  color: #25c50f;
  transition: all 0.5s ease 0s;
}

.menu ul li {
  list-style: none;
  margin-right: 30px;
  float: left;
}


.menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2em;
}

.navbar ul li:hover ul {
  display: block;
}

.navbar li ul {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
}

.menu ul li a:hover {
  color: #78a841;
}

.navbar .toggle-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 38px;
}

.navbar .toggle-menu i {
  font-size: 1.8em;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: none;
}


.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-info h1 {
  font-size: 5em;

  animation: left-move 1s ease-in;
}

.container-info h2 {
  font-size: 2em;
  animation: right-move 1s ease-in;
}

.container-info .btn {
  font-size: 1.5em;
  width: 200px;
  padding: 5px;
  border-radius: 50px;
  background-color: #78a841;
  border: none;
  color: #fff;
  animation: right-move 1s ease-in;
}

.container-info .img-content img {
  max-width: 100%;
  animation: up-move 1s ease-in;
}

.container-info .img-content img:hover {
  filter: grayscale(90%);
}

.container-info .social-content li {
  list-style: none;
  margin: 20px;
  animation: left-move 1s ease-in;
}

.container-info .social-content i {
  font-size: 1.6em;
  color: #c9b205;
}

.container-info .social-content i:hover {
  transform: scale(1.5);
}

header .wave {
  margin-top: -100px;
}

.contenedor2 .our-products {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

/*ESTILOS WHATSAPP*/
.fab {
  display: none;
  padding: 20px;
  background: #024959;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 100;
}

.fa-whatsapp {
  background: #00bb2d;
  color: white;
  align-items: center;
}

/*Tooltip*/
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #00bb2d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


@keyframes left-move {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-move {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes up-move {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.products-section {
  background-color: #fff;
}

.products-section .wrapper {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.product-card {
  grid-column-start: span 1;
  display: grid;
  grid-template-rows: 240px auto auto;
  grid-gap: 16px;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.product-card-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-category {
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.product-name {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}

.product-description {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  line-height: 1.3rem;
}

.product-rating {
  color: #0ab4b5;
  font-weight: bold;
}

.product-review {
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-wrapper button {
  background-color: #3d1853;
  color: #fff;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Fira Sans";
  max-width: 160px;
  width: 100%;
}


.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}


.contenedor1 {
  text-align: center;
  width: 90%;
  max-width: 1700px;
  margin: auto;
  overflow: hidden;
  padding: 90px 0;

}

.contenedor2 {
  text-align: center;
  width: 90%;
  max-width: 1700px;
  margin: auto;
  overflow: hidden;
  padding: 90px 0;
  background-color: #325f2310;
}

.hamburguer {
  width: 80px;
  height: 80px;
  display: none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.hamburguer>i {
  font-size: 25px;
  line-height: 80px;
}

.contenido-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header>img {
  width: 550px;
  animation: ease-in animat 1s;
}


@keyframes animat {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


.contenido-header p {
  font-weight: 100;
  margin-top: 14px;
  color: #000000;
}

.questionss {
  background: #ffffff;
}

.questionss>img {
  width: 1348px;
  height: 500px;
}

/* Results */

.results {
  background: #097709;
  padding-top: 30px;
}

.conten-results {
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.numbers .number1 {
  width: 45%;
  background: rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 10px;
  padding: 40px 35px;
  margin-bottom: 20px;
}

.numbers .number1 h4 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.numbers .number1 p {
  color: #f2f5fc;
  font-weight: 300;
}


.results-text {
  width: 37%;
}

.results-text h4 {
  color: #fff;
  font-size: 40px;
}

.results-text p {
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
}


.results-text>a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 0;
  width: 120px;
  text-align: center;
  border-radius: 5px;
}

.boton_equipo {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #097709;
  padding: 10px 0;
  width: 300px;
  text-align: center;
  border-radius: 5px;

}

/* Services */

.services {
  display: flex;
  justify-content: space-between;
}

.services>img {
  width: 500px;
}

.box-skills {
  margin: 30px 30px 0 0;
}

.box-skills h4 {
  font-size: 20px;
  background: #f2f2f2;
  width: 450px;
  border-radius: 6px;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
}

.box-skills i {
  color: #1FDE82;
  font-size: 20px;
}

/*Redes sociales fijas a la derecha*/
.social-bar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  border-color: #000;
}

.icon {
  background: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
}

.icon-facebook {
  color: #2E406E;
}

.icon-twitter {
  color: #339DC5;
}

.icon-instagram {
  color: #3f729b;
}

.icon-linkedin {
  color: #0e76a8;
}

.icon-youtube {
  color: #E83028;
}

.icon:first-child {
  border-radius: 1rem 0 0 0;
}

.icon:last-child {
  border-radius: 0 0 0 1rem;
}

.icon-facebook:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #2E406E;
}

.icon-twitter:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #339DC5;
}

.icon-instagram:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #3f729b;
}

.icon-linkedin:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #0e76a8;
}

.icon-youtube:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  color: white;
  background: #E83028;
}

/*BOTON IR ARRIBA*/
.ir-arriba {
  display: none;
  padding: 10px;
  background: #024959;
  opacity: 0.4;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  z-index: 100;
}

.ir-arriba:hover {
  opacity: 1;
}

/*boton parte footer*/
.button1 {
  background-color: #fff;
  border: 3px solid #097709;
  border-radius: 10px;
  width: 50%;
  height: 25%;
  justify-content: center;
  align-items: center;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* footer */
footer {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  background: #f2f2f2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #f2f2f2,
      #f2f2f2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #f2f2f2,
      #f2f2f2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.partFooter {
  width: 20%;
  text-align: center;
}

.partFooter h4 {
  color: #041c4d;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  transition: color .3s ease-in-out;
  font-size: 15px;
}

.partFooter img {
  width: 70%;
}

footer p {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-size: 16px;
}
.footer__copyright{
  padding: 30px 0;
  border-top: 2px solid #918484;
  text-align: center;
}
.footer__copyright::after{
  content: " hola@gmail.com";
}

.portafolio{
  padding: 50px 0;
}
.galeria{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.portafolio .after{
  text-align: center;
}
.portafolio .aft{
  text-align: center;
}

.imagen-port{
  width: 280px;
  height: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(23, 198, 55, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}


/* Breakpoints responsive */


@media screen and (max-width:600px){
  .brand a img {
    margin-left: -50px;
    margin-top: -16px;
  }

  .navbar .toggle-menu i {
    display: block;
    margin: -130px 30px;
    color: #000;
  }

  .navbar {
    height: 30px;
  }

  .navbar .menu ul {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #097709;
    transform: translateX(-120%);
    transition: 1s ease-in;
    border: 1px solid #000;
    margin-top: 0;

  }

  .navbar .menu .menu-on {
    transform: translateX(-1%);

  }

  .navbar .menu ul li {
    margin: 30px;
    text-transform: uppercase;
  }

  .nav__close {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
  }

  /*Colores menu*/
  .menu ul li a {
    color: #fff;
  }

  .navbar ul li a i {
    padding-right: 10px;
    color: #22fa06;
    transition: all 0.5s ease 0s;
  }

  .titulo {
    font-size: 35px;
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

  /*Parte Index*/
  .contenido-header {
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;

  }

  .textos-header {
    padding: 30px;
    color: #19820f;
    text-align: justify;
  }

  .textos-header p {
    font-size: 18px;
  }

  .contenido-header>img {
    width: 200px;
  }

  /* Nuestros Servicios */

  .contenedor1 {
    padding: 0;
    margin-top: 10px;
  }

  .articulo {
    width: 95%;
  }

  .articulo p {
    font-size: 18px;
  }

  .articulo h3 {
    font-size: 22px;
  }

  /* Questions index2 */

  .questions>img {
    width: 200px;
  }

  /* Maquinaria disponible */

  .contenedor3 {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 115vh;
  }

  .contenedor3 figure {
    height: 300px;
    cursor: none;
    width: 300px;
  }

  /*Informe de Gestión*/
  .conten-results {
    padding: 21px;
  }

  .numbers .number1 {
    width: 85%;
  }

  .results-text h4 {
    font-size: 35px;
  }

  .results-text p {
    margin: 12px 1em 15px auto;
  }

  .results-text>a {
    margin-bottom: 20px;
  }

  .results-text img {
    margin-bottom: 20px;
  }

  /* Footer */
  footer {
    flex-wrap: wrap;
  }

  .partFooter {
    width: 95%;
    margin-bottom: 10px;
  }

  .button1 {
    width: 30%;
  }


  /*Redes sociales*/
  .social-bar {
    font-size: 1.5rem;
    top: 37%;
  }

  /*Boton de Whatsapp*/
  .fab {
    left: 5px;

  }

  /*Boton ir arriba*/
  .ir-arriba {
    right: 5px;
  }

  /*Estilos index2*/
  .articulo2 {
    width: 90%;
  }

  .contenedor1 {
    height: auto;
  }

  /*De index2 equipo de trabajo*/
  .articulos {
    margin-bottom: 90px;
    flex-wrap: wrap;
    margin-bottom: 90px;
    padding: 45px 30px 60px 30px;
  }

  .questions {
    height: auto;
  }
}

@media screen and (max-width:800px){
  .titulo {
    font-size: 45px;

  }

  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .contenido-header>img {
    width: 400px;
  }

  .textos-header {
    margin: 0;
  }

  /* About us */

  .articulo {
    width: 90%;
  }


  /* Questions */

  .questions {
    height: 720px;
    justify-content: space-around;
    flex-direction: column;
  }

  .questions>img {
    width: 400px;
  }

  /* results */

  .conten-results {
    flex-direction: column-reverse;
  }

  .results-text>a {
    margin-bottom: 60px;
  }

  .numbers {
    width: 100%;
    /* justify-content: space-between; */
  }

  .results-text {
    width: 100%;
  }

  /* Services */

  .services {
    flex-direction: column-reverse;
    align-items: center;
  }

  .box-skills {
    margin: 0 0 40px 0;

  }

  .box-skills h4 {
    width: 500px;
  }

  .services>img {
    width: 400px;
  }
  .brand a img {
    margin-left: -50px;
    margin-top: -16px;
  }

  .navbar .toggle-menu i {
    display: block;
    margin: -130px 30px;
    color: #000;
  }

  .navbar {
    height: 30px;
  }

  .navbar .menu ul {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #097709;
    transform: translateX(-120%);
    transition: 1s ease-in;
    border: 1px solid #000;
    margin-top: 0;

  }

  .navbar .menu .menu-on {
    transform: translateX(-1%);

  }

  .navbar .menu ul li {
    margin: 30px;
    text-transform: uppercase;
  }

  .nav__close {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
  }

  /*Colores menu*/
  .menu ul li a {
    color: #fff;
  }

  .navbar ul li a i {
    padding-right: 10px;
    color: #22fa06;
    transition: all 0.5s ease 0s;
  }

  /*Redes sociales*/
  .social-bar {
    font-size: 1.6rem;
    top: 37%;
  }

  /*Boton de Whatsapp*/
  .fab {
    left: 10px;

  }

  /*Boton ir arriba*/
  .ir-arriba {
    right: 5px;
  }

  /*Estilos index2*/
  .articulo2 {
    width: 90%;
    margin-bottom: 55px;
  }

  .articulos {
    margin-bottom: 20px;
  }

  .contenedor1 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .questions {
    height: auto;
  }

  /* Footer */
  footer {
    flex-wrap: wrap;
  }

  .partFooter {
    width: 95%;
    margin-bottom: 10px;
  }

  .partFooter img{
    width: 80%;
  }
  .button1 {
    width: 30%;
  }

}

@media screen and (max-width:1024px){
  .brand a img {
    margin-left: -50px;
    margin-top: -16px;
  }

  .menu ul li {
    list-style: none;
    margin-right: 0px;
  }

  .menu ul li a {
    text-decoration: none;
    font-size: 15px;
    padding-right: 10px;
  }

  .navbar ul li a i {
    padding-right: 0.5px;
  }

  /* Nuestros Servicios */
  .contenedor1 {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  /*.articulo {
    width: 47%;
  }*/

  .articulo p {
    font-size: 22px;
  }

  .articulo h3 {
    font-size: 25px;
  }
  /*Informe*/
  /*.numbers .number1 {
    width: 80%;
    padding: 10px;
  }
  .conten-results {
    margin-left: 10px;
  }*/
  /*Redes sociales*/
  .social-bar{
    font-size: 2.0rem;
    top: 37%;
  }
  .partFooter img {
    width: 100%;
  }
  .button1{
    width: 60%;
  }
  .questions{
    height: auto;
  }
  .articulos{
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 45px 30px 60px 30px;
    height: auto;
  }
  .articulo2 {
    width: 80%;
    margin-bottom: 30px;
  }
  .box-skills h4{
    width: auto;
    font-size: 18px;
  }

}