@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

.text-center {
    text-align: center;
}

*,
*:before,
*:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-inline: border-box;
}

.container {
    width: 800px;
    margin: 50px auto;
}

.container>ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: auto;

}

.titulo {
    font-family: 'Dongle', sans-serif;
    font-weight: normal;
    font-size: 80px;
    text-align: center;
    line-height: 1.4;
    color: #097709;
}

.dropdown a {
    text-decoration: none;
    font-family: sans-serif;
}

.dropdown [data-toggle="dropdown"] {
    position: relative;
    display: block;
    color: rgb(248, 248, 248);
    font-size: 25px;
    background: #097709;
    -moz-box-shadow: 0 1px 0 #040708 inset, 0 -1px 0 #090d0f inset;
    -webkit-box-shadow: 0 1px 0 #000000 inset, 0 -1px 0 #070c0f inset;
    box-shadow: 0 1px 0 #000000 inset, 0 -1px 0 #050a0e inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.dropdown [data-toggle="dropdown"]:hover {
    background: #60da42;
    color: #000000;
}

.dropdown .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: #fff;
    top: 14px;
    right: 10px;
}

.dropdown .icon-arrow.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.dropdown .icon-arrow.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.dropdown .icon-arrow:before {
    content: "\25BC";
}

.dropdown .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown .dropdown-menu li {
    padding: 0;
    margin-left: 18px;
}

.dropdown .dropdown-menu li a {
    display: block;
    color: #6f6f6f;
    background: #eee;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
    font-size: 20px;

}

.dropdown .dropdown-menu li a:hover {
    background: #f6f6f6;
    color: #000000;
}

.dropdown .show,
.dropdown .hide {
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.dropdown .show {
    display: block;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.dropdown .hide {
    max-height: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
}

@keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }

    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-moz-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }

    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }

    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@-moz-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@-webkit-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

/*Estilos header*/

.contenido-header {
    display: flex;
    width: 90%;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: #097709;
    margin: auto;
    overflow: hidden;

}

.contenido-header .textos-header {
    width: 50%;
    animation: animacion2 1s ease-out;
}

.contenido-header h1 {
    font-size: 60px;
}

.contenido-header .img-header {
    width: 60%;
}

.img-header img {
    width: 80%;
    transform: translateX(0);
    opacity: 1;
    animation: animacion1 1s ease-out;
}

/* Animaciones Header */

@keyframes animacion1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes animacion2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 150px;
    width: 100%;
    fill: #fff;
}


/*Responsive*/
@media screen and (max-width:600px) {
    .contenido-header {
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .contenido-header h1 {
        font-size: 50px;
    }

    .contenido-header .img-header {
        width: 100%;
    }

    .img-header img {
        margin-left: 10%;
    }

    .container {
        height: 100%;
        width: 100%;
        padding: 0 18px 0 10px;
    }

    .dropdown [data-toggle="dropdown"] {
        font-size: 20px;
    }
}

@media screen and (max-width:800px) {
    .contenido-header{
        padding-top: 0px;
    }
    .contenido-header h1 {
        font-size: 50px;
    }
    .contenido-header .img-header {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    .img-header img {
        margin-left: 0;
    }
    .container {
        height: 100%;
        width: 100%;
        padding: 0 18px 0 10px;
        margin: 2% auto;
    }

    .dropdown [data-toggle="dropdown"] {
        font-size: 23px;
    } 
}

@media screen and (max-width:1024px) {
    
    .contenido-header{
        padding-top: 0px;
        height: 300px;
    }
    .contenido-header h1 {
        font-size: 50px;
    }
    .contenido-header .img-header {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    .img-header img {
        margin-left: 0;
    }
    .container {
        height: 100%;
        width: 100%;
        padding: 0 50px 0 10px;
        margin: 2% auto;
    }

    .dropdown [data-toggle="dropdown"] {
        font-size: 23px;
    } 
}