/*Contiene los colores del mapa*/
.containers{
    background: rgb(214, 214, 214);
    display: flex;
    place-content: center;
}


.container path{
    fill : rgba(25, 214, 15, 0.974);
    stroke: rgb(162, 209, 226);
    stroke-width: 10%;
}

.container :hover {
    fill: #E0FF00;
}
