/* Estilos para tarjetas */
.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px); /* Aplicar un filtro de desenfoque al hacer hover */
}

  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-text {
    font-size: 16px;
    color: #666;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  /* Estilos para botones dentro de las tarjetas */
  .card .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .card .btn:hover {
    background-color: #0056b3;
  }
  